body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url("https://source.unsplash.com/1600x900/?covid");
}
.card-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  color: white;
  width: 100%;
  padding: 30px;
  background: rgb(255, 255, 255, 0.15);
  margin: 50vh auto;

  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-search input {
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  text-align: center;
}
.card-search input:focus {
  outline: none;
}
.btns {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  margin-top: 10px;
  margin-left: 15px;
}
.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
